<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet"
    href="/css/main.css">
</head>

<body>
  <nav>
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
    <a href="/profile">Profile</a>
  </nav>
  <h1>Welcome to UpRof!</h1>
  <p>The Hottest new So-Mo-Lo profile creation page on the internets noob...</p>

  <p> Alright... So All you have to do to join is like CLICK THAT SIGHN UP LINK BRO!!</p>

  <h1>
      Our Mission Statement!
  </h1>


<p> We are Mobile Social and Local Bro's The first ever Profile Page creator. Our Mission is to give everyone a profile that has your name
Username and email. HEY BROO we already have that dude.. Listen up dudes.. This is where we are different.. No One will be able to see
your profile but you.. That's right. </p>

<h1> THIS IS EPIC EXTREME BRO</h1>


<h1>
    WALL OF BRO
</h1>

<p> Whats Up bro bro's its Skyler..I made a profile and like dude the chicks are all over it. They come over and we like make tons of profiles
together... tight dudes
-Skyler 19 Paris,Texas </p>

<p> Whats UP BROOS this is Big Perm aka Big Willy coming at you live from Boston bro's GO Celtics naw mean.. Alright so listen up.. UpRof is the
best profile creator out there.. Me and This Chick from Philly like Bro... She made the BADDEST USERNAME out there and we should would log in and out log out
ALL THE TIME!!!!</p>

</body>

</html>